<div class="col-md-4 clicSound">
	<a href="{{ link }}" class="resource-link">
		<div class="resource-card">
			<i class="bi {{ icon }} {{ color }} resource-icon"></i>
			<div>
				<h6>{{ title }}</h6>
				<small>{{ subtitle }}</small>
			</div>
			<i class="bi {{ icon }} {{ color }} resource-bg-icon"></i>
		</div>
	</a>
</div>

